body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
  color: white;
}
.container-fluid {
  padding: 3% 15%;
}
/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-weight: 400;
  font-size: 1.25rem;
}
.navbar-toggler-icon {
  color: #fff;
}
/* Title */
h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn-download {
  margin: 5% 3% 5% 0%;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
}
/* Features */

.features-image {
  padding: 4.5rem 0 0;
  font-size: 4.5rem;
  color: linear-gradient(90deg, rgba(255, 76, 104, 1) 50%, rgba(241, 110, 0, 1) 100%);
}
.features-image:hover {
  color: #f16e00;
}
h3 {
  padding: 1.25rem 0 0;
  font-weight: 900;
}
